@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
body {
  margin: 0;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 150px 12px;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header h1,
.header h2,
.header h3 {
  color: #2d2640;
}

.header p {
  color: #837d87;
}

.header button {
  color: #2b272f;
  border-color: #2b272f;
}

.header button:hover {
  background-color: #2b272f;
  color: white;
}

.header__logo {
  width: 100px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
}

.header__link {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__link:hover {
  cursor: pointer;
}

.header__link:hover {
  color: #2b272f;
}

.header__btn {
  all: unset;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 2px solid;
  padding: 8px 25px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header__btn:hover {
  cursor: pointer;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 80px 150px 0;
  background-color: #2d2640;
  color: white;
  height: 510px;
}

.intro__paragraph {
  opacity: 0.8;
}

.intro button {
  background-color: #2d2640;
  color: white;
  border-color: white;
}

.intro button:hover {
  background-color: white;
  color: #2d2640;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__hr {
  width: 120px;
  opacity: 0.75;
  margin: 0 auto 50px 0;
  background-color: white;
}

.intro__heading {
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

.intro__paragraph {
  font-family: "Karla", sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.5px;
  max-width: 450px;
  margin: 25px 0 32px 0;
}

.intro__btn {
  all: unset;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 2px solid;
  padding: 8px 25px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.intro__btn:hover {
  cursor: pointer;
}

.intro__img {
  width: 450px;
  z-index: 1;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 220px 150px 140px;
  background-color: white;
}

.features h1,
.features h2,
.features h3 {
  color: #2d2640;
}

.features p {
  color: #837d87;
}

.features button {
  color: #2b272f;
  border-color: #2b272f;
}

.features button:hover {
  background-color: #2b272f;
  color: white;
}

.features__hr {
  width: 120px;
  opacity: 0.75;
  margin: 0 auto 50px 0;
  background-color: #2b272f;
}

.features__section-heading {
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  margin: 0;
  margin: 0 0 70px 0;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.features__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__icon {
  width: 64px;
}

.features__heading {
  font-family: "DM Serif Display", serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  margin: 25px 0 12px 0;
}

.features__paragraph {
  font-family: "Karla", sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0px;
  max-width: 300px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 150px 0;
  background-color: white;
}

.cta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d2640;
  color: white;
}

.cta__container__paragraph {
  opacity: 0.8;
}

.cta__container button {
  background-color: #2d2640;
  color: white;
  border-color: white;
}

.cta__container button:hover {
  background-color: white;
  color: #2d2640;
}

.cta__heading {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.cta__btn {
  all: unset;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 2px solid;
  padding: 8px 25px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.cta__btn:hover {
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 150px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fafafa;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__heading {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  margin: 0;
}

.footer__link {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__link:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */